:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-dark-blue: #084254;
  --bg-light-blue: #006881;
  --niu01: #0f7d9e;
  --niu02: #00b1da;
  --niu03: #aedee4;
  --niu04: #084152;
  --niu05: #03caff;
}

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayMediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayRomanItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayXThin.ttf") format("truetype");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayXThinItalic.ttf")
    format("truetype");
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayXXThin.ttf")
    format("truetype");
  font-weight: 25;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayXXThinItalic.ttf")
    format("truetype");
  font-weight: 25;
  font-style: italic;
}

/* 👇 Setup base */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NeueHaasDisplay", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@keyframes fade-in-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-start {
  animation: fade-in-start 0.5s ease-out forwards;
}
